# БЕЗОПАСНОСТЬ ЖИЗНЕДЕЯТЕЛЬНОСТИ

## АКУСТИЧЕСКИЙ РАСЧЁТ   
### вариант (1 - 10)

In [1]:
variant = 6

In [2]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from IPython.display import Markdown as md
import IPython.display as ipd
import math
variant-=1

In [3]:
md("### Вариант :№ {}".format(variant+1))

### Вариант :№ 6

In [4]:
table1 = [##таблица 3.1
    ["V << 200",0.8,0.75,0.7,0.8,1,1.4,1.8,2.5],
    ["V = 200 / 1000",0.65,0.62,0.64,0.75,1,1.5,2.4,4.2],
    ["V >> 1000",0.5,0.5,0.55,0.7,1,1.6,3,6]
]
table2 = [##таблица 3.2
    ("цех механической обработки деталей",20,5,5,3,"1-1K36 2-1A62 3-AT60",1,5,4,None),
    ("штамповочный цех",25,6,5,3,"1-AT60 2-AT60 3-K222",2,5,7,None),
    ("мастерская",15,5,3,3,"1-1K36 2-1A62 3-K222",4,3,5,None),
    ("конструкторское бюро",10,5,3,4,"1-Compaq 2-Samsung 3-DeskJet 4-HPDesignJet",0.7,2,3,3),
    ("комната программистов",5,3,3,4,"1-Compaq 2-Samsung 3-DeskJet 4-DeskJet",3,0.8,1,3),
    ("экспериментальная лаборатория",4,5,1,3,"1-Compaq 2-Samsung 3-DeskJet",3,5,3,None),
    ("комната менеджеров",5,5,3,4,"1-Compaq 2-Samsung 3-DeskJet 4-Xerox",4,1,3,3),
    ("бухгалтерия",5,6,4,4,"1-Compaq 2-Samsung 3-DeskJet 4-Xerox",3,5,4,2),
    ("научно исслед. лаборатория",4,3,3,3,"1-Compaq 2-Samsung 3-DeskJet",3,1,3,None),
    ("читальный зал",6,8,3,4,"1-Compaq 2-Samsung 3-Compaq 4-Samsung",5,3,6,3),
]
table3 = [##таблица 3.3
    ("AT60",98,102,102,105,101,99,92,92),
    ("K222",106,103,102,101,102,102,98,89),
    ("1K36",96,94,95,98,93,90,90,86),
    ("1A62",84,87,90,92,91,87,82,80),
    ("Compaq",40,59,42,42,43,41,39,36),
    ("Samsung",56,51,39,39,42,40,33,34),
    ("DeskJet",50,59,44,45,46,40,36,35),
    ("HPDesignJet",60,57,50,42,47,43,41,39),
    ("Xerox",60,55,45,47,48,39,40,41),
]
table4 = [##таблица 3.4
    ("",63,125,250,500,1000,2000,4000,8000,50),
    ("",71,61,54,49,45,42,40,38,60),
    ("",79,70,68,58,52,52,50,49,80),
    ("",94,87,82,78,75,73,71,70,65),
    ("",83,74,68,63,60,57,55,54,65),
    ("",83,74,68,63,60,57,55,54,80),
    ("",94,87,82,78,75,73,71,70,85),
]

In [5]:
print("таблица 3.1 Частотный множитель")
pd.DataFrame(table1,columns=["Объём помещения, м2","63","125","250","500","1000","2000","4000","8000"])

таблица 3.1 Частотный множитель

  Объём помещения, м2    63   125   250   500  1000  2000  4000  8000
0            V << 200  0.80  0.75  0.70  0.80     1   1.4   1.8   2.5
1      V = 200 / 1000  0.65  0.62  0.64  0.75     1   1.5   2.4   4.2
2           V >> 1000  0.50  0.50  0.55  0.70     1   1.6   3.0   6.0

In [6]:
print("таблица 3.2 Исходные данные")
pd.DataFrame(table2,columns=["Производственное помещение","длина a","ширина b","высота c","кол-во источников шума","источники шума","r1","r2","r3","r4"])

таблица 3.2 Исходные данные

,Производственное помещение,длина a,ширина b,высота c,кол-во источников шума,источники шума,r1,r2,r3,r4
0,цех механической обработки деталей,20,5,5,3,1-1K36 2-1A62 3-AT60,1.0,5.0,4,NaN
1,штамповочный цех,25,6,5,3,1-AT60 2-AT60 3-K222,2.0,5.0,7,NaN
2,мастерская,15,5,3,3,1-1K36 2-1A62 3-K222,4.0,3.0,5,NaN
3,конструкторское бюро,10,5,3,4,1-Compaq 2-Samsung 3-DeskJet 4-HPDesignJet,0.7,2.0,3,3.0
4,комната программистов,5,3,3,4,1-Compaq 2-Samsung 3-DeskJet 4-DeskJet,3.0,0.8,1,3.0
5,экспериментальная лаборатория,4,5,1,3,1-Compaq 2-Samsung 3-DeskJet,3.0,5.0,3,NaN
6,комната менеджеров,5,5,3,4,1-Compaq 2-Samsung 3-DeskJet 4-Xerox,4.0,1.0,3,3.0
7,бухгалтерия,5,6,4,4,1-Compaq 2-Samsung 3-DeskJet 4-Xerox,3.0,5.0,4,2.0
8,научно исслед. лаборатория,4,3,3,3,1-Compaq 2-Samsung 3-DeskJet,3.0,1.0,3,NaN
9,читальный зал,6,8,3,4,1-Compaq 2-Samsung 3-Compaq 4-Samsung,5.0,3.0,6,3.0

In [7]:
print("таблица 3.3 Частотный множитель")
pd.DataFrame(table3,columns=["Октавные полосы","63","125","250","500","1000","2000","4000","8000"])

таблица 3.3 Частотный множитель

  Октавные полосы   63  125  250  500  1000  2000  4000  8000
0            AT60   98  102  102  105   101    99    92    92
1            K222  106  103  102  101   102   102    98    89
2            1K36   96   94   95   98    93    90    90    86
3            1A62   84   87   90   92    91    87    82    80
4          Compaq   40   59   42   42    43    41    39    36
5         Samsung   56   51   39   39    42    40    33    34
6         DeskJet   50   59   44   45    46    40    36    35
7     HPDesignJet   60   57   50   42    47    43    41    39
8           Xerox   60   55   45   47    48    39    40    41

In [8]:
print("таблица 3.4 Частотный множитель")
pd.DataFrame(table4,columns=["Рабочее место","63","125","250","500","1000","2000","4000","8000","уровень звука дБА"])

таблица 3.4 Частотный множитель

  Рабочее место  63  125  250  500  1000  2000  4000  8000  уровень звука дБА
0                63  125  250  500  1000  2000  4000  8000                 50
1                71   61   54   49    45    42    40    38                 60
2                79   70   68   58    52    52    50    49                 80
3                94   87   82   78    75    73    71    70                 65
4                83   74   68   63    60    57    55    54                 65
5                83   74   68   63    60    57    55    54                 80
6                94   87   82   78    75    73    71    70                 85

In [9]:
a = table2[variant-1][1]
#b = table2[variant-1][2]
#c = table2[variant-1][3]
#kol_vo = table1[variant-1][4]
#r1 = table2[variant-1][6]
#r2 = table2[variant-1][7]
#r3 = table2[variant-1][8]
#r4 = table2[variant-1][9]

In [10]:
#md("# The data consists of {} observations. Bla, Bla, ....".format(a))
# # The data consists of {{a}} observations. Bla, Bla, .... -- это в маркдаун ячейку

### $ L_{p} = 101g(\sum_1^m\frac{10^{0.1L_{w}}\chi_{i}\phi_{i}}{S_{i}}+\frac{4\psi}{B}\sum_1^n10^{0.1L_{wi}} $

In [11]:
cur_data = table2[variant] # исходные данные согласно варианту
#cur_data

In [12]:
table_final =[
    ["Lw источник шума 1",0,0,0,0,0,0,0,0],
    ["Lw источник шума 2",0,0,0,0,0,0,0,0],
    ["Lw источник шума 3",0,0,0,0,0,0,0,0],
    ["постоянная помещения B",0,0,0,0,0,0,0,0],
    ["ожидаемый ур. звукового давления в Lp",0,0,0,0,0,0,0,0],
    ["допустимый ур. звукового давления в Lp.доп",0,0,0,0,0,0,0,0],
    ["требуемое снижение шума DL",0,0,0,0,0,0,0,0],
    ["предполагаемые акустические мероприятия(если нужно)",0,0,0,0,0,0,0,0],
]

In [13]:
V = cur_data[1] * cur_data[2] * cur_data[3] # считаем объем
B1000 = 0  # инициализируем B1000 в зависимости от варианта и типа помещения
if variant == 0: B1000 = V/20
elif variant == 1: B1000 = V/20
elif variant == 2: B1000 = V/20
elif variant == 3: B1000 = V/6
elif variant == 4: B1000 = V/6
elif variant == 5: B1000 = V/10
elif variant == 6: B1000 = V/6
elif variant == 7: B1000 = V/6
elif variant == 8: B1000 = V/10
elif variant == 9: B1000 = V/6

# инициализируем u u зависимости от V
if V<200: u = table1[0]
elif V>1000: u = table1[1]
else: u = table1[2]

B = []# инициализируем u B зависимости от V
for i in range(len(u)-1):
    B.append(u[i+1] *B1000)
# вычисляем Lp 
for i in range(cur_data[4]):
    r = cur_data[6+i]
    #temp = r/lmx
    temp = 1
    X=1# на кафедре сказали что 1 а я и не против
Lp = []
for j in range(8):
    temp_lp1 = 0
    temp_lp2 = 0
    for n in range(cur_data[4]):
        strr = cur_data[5]
        #temp = r/lmx
        #temp = 2 # просто от балды спросить как правильно
        #if temp<0.5: X=4 #temp=0
        #elif temp<1: X=3.5#temp=0.7
        #elif temp<1.5: X=2#temp=1
        #else: X=1#temp = 1.5
        index = -1
        temp = strr.split(' ')[n].split('-')[1]
        for i in range(len(table3)):
            S = 4 * 3.14 * cur_data[6+n]
            if table3[n][0] == temp: index = n
            temp_lp1+= ( (10**(0.1*table3[index][j+1]))* X* 1)/(S)
            temp_lp2+= 10**(0.1*table3[index][j+1])
    temp_lp = 10*math.log10(temp_lp1 + 4/B[j]*temp_lp2)
    Lp.append(round(temp_lp))
    
#Lp

In [14]:
Lp_dop = []
if variant == 0:Lp_dop = table4[4]
elif variant == 1:Lp_dop = table4[4]
elif variant == 2:Lp_dop = table4[4]
elif variant == 3:Lp_dop = table4[3]
elif variant == 4:Lp_dop = table4[0]
elif variant == 5:Lp_dop = table4[4]
elif variant == 6:Lp_dop = table4[1]
elif variant == 7:Lp_dop = table4[1]
elif variant == 8:Lp_dop = table4[0]
elif variant == 9:Lp_dop = table4[0] #???

In [15]:
DL = [] # вычисляем DL
for i in range(len(Lp)):
    temp_DL = Lp[i] - Lp_dop[i+1]
    DL.append(temp_DL)
#DL

In [16]:
for i in range(3): # заполняем итоговую таблицу
    s = cur_data[5]
    index = -1
    temp = s.split(' ')[i].split('-')[1]
    for j in range(len(table3)):
        if table3[j][0] == temp: index = j
    for j in range(8):
        table_final[i][j+1]= table3[index][j+1]
for i in range(len(B)):
    table_final[3][i+1] = B[i]
for i in range(len(Lp_dop)-2):
    table_final[5][i+1] = Lp_dop[i+1]
for i in range(len(Lp)):
    table_final[4][i+1] = Lp[i]
for i in range(len(DL)):
    table_final[6][i+1] = DL[i]
    if DL[i] <= 0: table_final[7][i+1] = None
#table_final

In [17]:
print("таблица 3.5 Результаты акустического расчёта")
pd.DataFrame(table_final,columns=["исх. данные и результаты","63","125","250","500","1000","2000","4000","8000"])

таблица 3.5 Результаты акустического расчёта

,исх. данные и результаты,63,125,250,500,1000,2000,4000,8000
0,Lw источник шума 1,40.0,59.0,42.0,42.0,43.0,41.0,39.0,36.0
1,Lw источник шума 2,56.0,51.0,39.0,39.0,42.0,40.0,33.0,34.0
2,Lw источник шума 3,50.0,59.0,44.0,45.0,46.0,40.0,36.0,35.0
3,постоянная помещения B,1.6,1.5,1.4,1.6,2.0,2.8,3.6,5.0
4,ожидаемый ур. звукового давления в Lp,78.0,74.0,64.0,65.0,65.0,55.0,55.0,54.0
5,допустимый ур. звукового давления в Lp.доп,83.0,74.0,68.0,63.0,60.0,57.0,55.0,54.0
6,требуемое снижение шума DL,-5.0,0.0,-4.0,2.0,5.0,-2.0,0.0,0.0
7,предполагаемые акустические мероприятия(если н...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN